:root {
    --font-H: "Rubik Wet Paint", serif;
    --font-text: "Josefin Sans", serif;
    --text-2: black;
    --text-color: #ffffff;
    --main-color: #ff9f1c;
    --bg-color: #ffbf69;
    --main-bg: #ffb941;
} 
   
 input{
   
    border-radius: 8px;
    padding: 8px;
    margin: 4px;
    background-color: rgb(226, 232, 238);
    width: 95%;
    color: black;
   } 
.sex{

    padding: 2%; 
    background-color: rgb(238, 233, 233);
    font-size: 1.3rem;
    margin-top: 2%;
}
input[type=radio] {
    margin: 1px;
    border: 0px;
    width: 10%;
    height: 1.5em;
    
}
 