<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://www.ntara.com/wp-content/uploads/2023/08/B2B-and-B2C-Ecommerce-Icon.png" type="image/x-icon">
    <title>Electronic</title>
    <link rel="stylesheet" href="elec.css">

</head>
<body>
              
    <div class="gallery">
        <div class="gallery-item">
            <a href="#">     
                  <div class="gallery-item"><img src="/saim/28 Cosmetics for Men.jpeg" alt="image1"></div>
             </a>
            
             <div class="overlay">
                <button class="like-btn">pkr 1200/-</button>
                <button class="order-btn">Order</button>
            </div>
        </div>
        <div class="gallery-item">
            <a href="#">         
                <div class="gallery-item"><img src="/saim/Balsem By Frank + Oak Shampoo.jpeg" alt="image2"></div>
 
            </a>
            <div class="overlay">
                <button class="like-btn">Like</button>
                <button class="order-btn">Order</button>
            </div>
        </div>

        <div class="gallery-item">
            <a href="#">         
                <div class="gallery-item"><img src="/saim/Dark and Moody photography(1).jpeg" alt="image2"></div>
 
            </a>
            <div class="overlay">
                <button class="like-btn">Like</button>
                <button class="order-btn">Order</button>
            </div>
        </div>
        <div class="gallery-item">
            <a href="#">         
                <div class="gallery-item"><img src="/saim/Herb Essentials - COOL HUNTING®.jpeg" alt="image2"></div>
 
            </a>
            <div class="overlay">
                <button class="like-btn">Like</button>
                <button class="order-btn">Order</button>
            </div>
        </div>
        <div class="gallery-item">
            <a href="#">         
                <div class="gallery-item"><img src="/saim/28 Cosmetics for Men.jpeg" alt="image2"></div>
 
            </a>
            <div class="overlay">
                <button class="like-btn">Like</button>
                <button class="order-btn">Order</button>
            </div>
        </div>
        <div class="gallery-item">
            <a href="#">         
                <div class="gallery-item"><img src="/saim/Montblanc Legend - Andy M on Fstoppers.jpeg" alt="image2"></div>
 
            </a>
            <div class="overlay">
                <button class="like-btn">Like</button>
                <button class="order-btn">Order</button>
            </div>
        </div>
        <div class="gallery-item">
            <a href="#">         
                <div class="gallery-item"><img src="/saim/Packaging & Label Design Services - Fiverr.jpeg" alt="image2"></div>
 
            </a>
            <div class="overlay">
                <button class="like-btn">Like</button>
                <button class="order-btn">Order</button>
            </div>
        </div>
        <div class="gallery-item">
            <a href="#">         
                <div class="gallery-item"><img id="img8" src="/saim/Sauvage.jpeg" alt="image2"></div>
 
            </a>
            <div class="overlay">
                <button class="like-btn">Like</button>
                <button class="order-btn">Order</button>
            </div>
        </div>
        <div class="gallery-item">
            <a href="#">         
                <div class="gallery-item"><img src="/saim/Этикетки Косметика Дизайн.jpeg" alt="image2"></div>
 
            </a>
            <div class="overlay">
                <button class="like-btn">Like</button>
                <button class="order-btn">Order</button>
            </div>
        </div>
        <div class="gallery-item">
            <a href="#">         
                <div class="gallery-item"><img src="/saim/Balsem By Frank + Oak Shampoo.jpeg" alt="image2"></div>
 
            </a>
            <div class="overlay">
                <button class="like-btn">Like</button>
                <button class="order-btn">Order</button>
            </div>
        </div>
        <div class="gallery-item">
            <a href="#">         
                <div class="gallery-item"><img src="/saim/Sauvage.jpeg" alt="image2"></div>
 
            </a>
            <div class="overlay">
                <button class="like-btn">Like</button>
                <button class="order-btn">Order</button>
            </div>
        </div>
        <div class="gallery-item">
            <a href="#">         
                <div class="gallery-item"><img src="/saim/Still Life Photography Projects Photos, videos, logos, illustrations and branding.jpeg" alt="image2"></div>
 
            </a>
            <div class="overlay">
                <button class="like-btn">Like</button>
                <button class="order-btn">Order</button>
            </div>
        </div>

        <div class="gallery-item">
            <a href="#">         
                <div class="gallery-item"><img src="/saim/Herb Essentials - COOL HUNTING®.jpeg" alt="image2"></div>
 
            </a>
            <div class="overlay">
                <button class="like-btn">Like</button>
                <button class="order-btn">Order</button>
            </div>
        </div>
        <div class="gallery-item">
            <a href="#">         
                <div class="gallery-item"><img src="/saim/Dark and Moody photography.jpeg" alt="image2"></div>
 
            </a>
            <div class="overlay">
                <button class="like-btn">Like</button>
                <button class="order-btn">Order</button>
            </div>
        </div>
        <div class="gallery-item">
            <a href="#">         
                <div class="gallery-item"><img src="/saim/Dark and Moody photography.jpeg" alt="image2"></div>
 
            </a>
            <div class="overlay">
                <button class="like-btn">Like</button>
                <button class="order-btn">Order</button>
            </div>
        </div>
        <div class="gallery-item">
            <a href="#">         
                <div class="gallery-item"><img src="/saim/Balsem By Frank + Oak Shampoo.jpeg" alt="image2"></div>
 
            </a>
            <div class="overlay">
                <button class="like-btn">Like</button>
                <button class="order-btn">Order</button>
            </div>
        </div>
        <div class="gallery-item">
            <a href="#">         
                <div class="gallery-item"><img src="/saim/Dark and Moody photography(1).jpeg" alt="image2"></div>
 
            </a>
            <div class="overlay">
                <button class="like-btn">Like</button>
                <button class="order-btn">Order</button>
            </div>
        </div>
        <div class="gallery-item">
            <a href="#">         
                <div class="gallery-item"><img src="/saim/Packaging & Label Design Services - Fiverr.jpeg" alt="image2"></div>
 
            </a>
            <div class="overlay">
                <button class="like-btn">Like</button>
                <button class="order-btn">Order</button>
            </div>
        </div>
        <div class="gallery-item">
            <a href="#">         
                <div class="gallery-item"><img src="/saim/Dark and Moody photography(1).jpeg" alt="image2"></div>
 
            </a>
            <div class="overlay">
                <button class="like-btn">Like</button>
                <button class="order-btn">Order</button>
            </div>
        </div>
        <div class="gallery-item">
            <a href="#">         
                <div class="gallery-item"><img src="/saim/28 Cosmetics for Men.jpeg" alt="image2"></div>
 
            </a>
            <div class="overlay">
                <button class="like-btn">Like</button>
                <button class="order-btn">Order</button>
            </div>
        </div>
        <div class="gallery-item">
            <a href="#">         
                <div class="gallery-item"><img src="/saim/4ug3HqQn.jpeg" alt="image2"></div>
 
            </a>
            <div class="overlay">
                <button class="like-btn">Like</button>
                <button class="order-btn">Order</button>
            </div>
        </div>
        <div class="gallery-item">
            <a href="#">         
                <div class="gallery-item"><img src="/saim/Herb Essentials - COOL HUNTING®.jpeg" alt="image2"></div>
 
            </a>
            <div class="overlay">
                <button class="like-btn">Like</button>
                <button class="order-btn">Order</button>
            </div>
        </div>
        <div class="gallery-item">
            <a href="#">         
                <div class="gallery-item"><img src="/saim/28 Cosmetics for Men.jpeg" alt="image2"></div>
 
            </a>
            <div class="overlay">
                <button class="like-btn">Like</button>
                <button class="order-btn">Order</button>
            </div>
        </div>
        <div class="gallery-item">
            <a href="#">         
                <div class="gallery-item"><img src="/saim/Montblanc Legend - Andy M on Fstoppers.jpeg" alt="image2"></div>
 
            </a>
            <div class="overlay">
                <button class="like-btn">Like</button>
                <button class="order-btn">Order</button>
            </div>
        </div>
        <div class="gallery-item">
            <a href="#">         
                <div class="gallery-item"><img src="/saim/River Island MAN Grooming Range.jpeg" alt="image2"></div>
 
            </a>
            <div class="overlay">
                <button class="like-btn">Like</button>
                <button class="order-btn">Order</button>
            </div>
        </div>
        <div class="gallery-item">
            <a href="#">         
                <div class="gallery-item"><img src="/saim/River Island MAN Grooming Range.jpeg" alt="image2"></div>
 
            </a>
            <div class="overlay">
                <button class="like-btn">Like</button>
                <button class="order-btn">Order</button>
            </div>
        </div>
        <div class="gallery-item">
            <a href="#">         
                <div class="gallery-item"><img src="/saim/Still Life Photography Projects Photos, videos, logos, illustrations and branding.jpeg" alt="image2"></div>
 
            </a>
            <div class="overlay">
                <button class="like-btn">Like</button>
                <button class="order-btn">Order</button>
            </div>
        </div>
        <div class="gallery-item">
            <a href="#">         
                <div class="gallery-item"><img src="/saim/Этикетки Косметика Дизайн.jpeg" alt="image2"></div>
 
            </a>
            <div class="overlay">
                <button class="like-btn">Like</button>
                <button class="order-btn">Order</button>
            </div>
        </div>
        <div class="gallery-item">
            <a href="#">         
                <div class="gallery-item"><img src="/saim/Sauvage.jpeg" alt="image2"></div>
 
            </a>
            <div class="overlay">
                <button class="like-btn">Like</button>
                <button class="order-btn">Order</button>
            </div>
        </div>
        <div class="gallery-item">
            <a href="#">         
                <div class="gallery-item"><img src="/saim/Dark and Moody photography(1).jpeg" alt="image2"></div>
 
            </a>
            <div class="overlay">
                <button class="like-btn">Like</button>
                <button class="order-btn">Order</button>
            </div>
        </div>
        <div class="gallery-item">
            <a href="#">         
                <div class="gallery-item"><img src="/saim/Этикетки Косметика Дизайн.jpeg" alt="image2"></div>
 
            </a>
            <div class="overlay">
                <button class="like-btn">Like</button>
                <button class="order-btn">Order</button>
            </div>
        </div>
        <div class="gallery-item">
            <a href="#">         
                <div class="gallery-item"><img src="/saim/Sauvage.jpeg" alt="image2"></div>
 
            </a>
            <div class="overlay">
                <button class="like-btn">Like</button>
                <button class="order-btn">Order</button>
            </div>
        </div>
        <div class="gallery-item">
            <a href="#">         
                <div class="gallery-item"><img src="/saim/28 Cosmetics for Men.jpeg" alt="image2"></div>
 
            </a>
            <div class="overlay">
                <button class="like-btn">Like</button>
                <button class="order-btn">Order</button>
            </div>
        </div>
        <div class="gallery-item">
            <a href="#">         
                <div class="gallery-item"> 
                <img src="/saim/Clinique Shaving Cream #Advertising & #Still….jpeg" alt="">                    
            </a>
            <div class="overlay">
                <button class="like-btn">Like</button>
                <button class="order-btn">Order</button>
            </div>
        </div>
       


        
    </div>

     
    <div id="myModal" class="modal">

        <span class="close">&times;</span>
       
        <img class="modal-content" id="img01">
       
    </div>

</body>

<script>   

    var modal = document.getElementById("myModal");
    var modalImg = document.getElementById("img01");
    var span = document.getElementsByClassName("close")[0];
  
    let galleryImages = document.querySelectorAll(".gallery-item img");
  
     galleryImages.forEach((img) => {
      img.onclick = function () {
        modal.style.display = "block";
        modalImg.src = img.src;
      };
    });
   
    span.onclick = function () {
      modal.style.display = "none";
    };
  </script>
  

</script>
</html> 